# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Dependency files
*.d
*.Td

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Documents
doc

# Executables
bin/*
bin/**/*
*.exe
*.out
*.app

# Temporary files and sentinels
*.bak
*.sen
*.swp
